venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
compile/app/main.py.c
compile/app/main.py.h
compile/app/main.py.yml
compile/compiled.js
compile/compiled.wasm