<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"
    />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Mass Spring</title>
  </head>

  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row" style="margin: 0 auto">
        <!-- Title -->
        <span class="mdl-layout-title">
          Create your own **virtual creature** that learns via **differentiable
          physics**. Use arrow keys to control it.
        </span>
      </div>
    </header>
    <main class="mdl-layout__content">
      <body style="background-color: rgb(245, 245, 245)">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col", style="margin-left: 3%;">
            <button
              id="grid"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            >
              Grid
            </button>
          </div>
          <div class="mdl-cell mdl-cell--2-col">
            <button
              id="delete"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            >
              Delete
            </button>
          </div>
          <div class="mdl-cell mdl-cell--2-col">
            <button
              id="box"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            >
              Box
            </button>
          </div>
          <div class="mdl-cell mdl-cell--2-col">
            <button
              id="train"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            >
              Train
            </button>
          </div>
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--8-col">
            <canvas id="canvas" height="512" width="1024" style="border:3px solid rgb(0, 0, 0); border-radius:15px;"></canvas>
          </div>
          <div class="mdl-cell mdl-cell--4-col" style="margin:0%;">
            <div class="mdl-grid mdl-grid--no-spacing" style="margin-top:1.5%;">
              <div class="mdl-card" style="width: 500px; border:3px solid rgb(0, 0, 0); border-radius:15px; margin:0%;">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Parameters</h2>
                </div>
                <div class="mdl-grid mdl-grid--no-spacing" style="margin: 5%; margin-top: 1%; margin-bottom: 1%;">
                  <div class="mdl-cell mdl-cell--2-col">Stiffness</div>
                  <div class="mdl-cell mdl-cell--8-col">
                    <p style="width: 300px">
                      <input
                        class="mdl-slider mdl-js-slider"
                        type="range"
                        id="p1"
                        min="0"
                        max="10"
                        value="5"
                        tabindex="0"
                        step="1"
                      />
                    </p>
                  </div>
                  <div
                    class="mdl-cell mdl-cell--2-col"
                    style="padding-left: 2%"
                  >
                    <input
                      type="number"
                      id="p1n"
                      value="5"
                      style="
                        box-sizing: border-box;
                        width: 100%;
                        text-align: center;
                      "
                    />
                  </div>
                </div>
                <div class="mdl-grid mdl-grid--no-spacing" style="margin: 5%; margin-top: 1%; margin-bottom: 1%;">
                    <div class="mdl-cell mdl-cell--2-col">Actuation</div>
                    <div class="mdl-cell mdl-cell--8-col">
                      <p style="width: 300px">
                        <input
                          class="mdl-slider mdl-js-slider"
                          type="range"
                          id="p2"
                          min="0"
                          max="10"
                          value="5"
                          tabindex="0"
                          step="1"
                        />
                      </p>
                    </div>
                    <div
                      class="mdl-cell mdl-cell--2-col"
                      style="padding-left: 2%"
                    >
                      <input
                        type="number"
                        id="p2n"
                        value="5"
                        style="
                          box-sizing: border-box;
                          width: 100%;
                          text-align: center;
                        "
                      />
                    </div>
                  </div>
                  <div class="mdl-grid mdl-grid--no-spacing" style="margin: 5%; margin-top: 1%; margin-bottom: 1%;">
                    <div class="mdl-cell mdl-cell--2-col">Iteration</div>
                    <div class="mdl-cell mdl-cell--8-col">
                      <p style="width: 300px">
                        <input
                          class="mdl-slider mdl-js-slider"
                          type="range"
                          id="p3"
                          min="0"
                          max="10"
                          value="5"
                          tabindex="0"
                          step="1"
                        />
                      </p>
                    </div>
                    <div
                      class="mdl-cell mdl-cell--2-col"
                      style="padding-left: 2%"
                    >
                      <input
                        type="number"
                        id="p3n"
                        value="5"
                        style="
                          box-sizing: border-box;
                          width: 100%;
                          text-align: center;
                        "
                      />
                    </div>
                  </div>
              </div>
            </div>
            <div class="mdl-grid mdl-grid--no-spacing" style="margin: 0%;">
                <div class="mdl-card" style="width: 500px; border:3px solid rgb(0, 0, 0); border-radius:15px;">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Loss Curve</h2>
                    </div>
                    <canvas id="loss_curve"></canvas>
                </div>
            </div>
          </div>
        </div>
      </body>

      <script src="/create_robot.js"></script>
      <script src="/chart.js"></script>
      <script src="/mass_spring.js"></script>
      <script src="/taichi.js"></script>
      <script>
        var train_button = document.getElementById("train");
        train_button.onclick = function () {
          var mass_spring = {};
          var canvas = document.getElementById("canvas");
          mass_spring = new MassSpring(canvas);
          mass_spring.loadScript("/compiled.js");
        };
      </script>
      <script>
        var grid_button = document.getElementById("grid");
        grid_button.onclick = function() {
          is_grid = !is_grid;
        };
        var delete_button = document.getElementById("delete");
        delete_button.onclick = function() {
            delete_mode = !delete_mode;
        };
        var box_button = document.getElementById("box");
        box_button.onclick = function() {
            draw_box = !draw_box;
        }
      </script>
      <script>
          var s1 = document.getElementById("p1");
          var t1 = document.getElementById("p1n");
          s1.oninput = function setText() {
              t1.value = s1.value;
          };
          t1.onchange = function setSlider() {
              s1.value = t1.value;
          };

          var s2 = document.getElementById("p2");
          var t2 = document.getElementById("p2n");
          s2.oninput = function setText() {
              t2.value = s2.value;
          };
          t2.onchange = function setSlider() {
              s2.value = t2.value;
          };

          var s3 = document.getElementById("p3");
          var t3 = document.getElementById("p3n");
          s3.oninput = function setText() {
              t3.value = s3.value;
          };
          t3.onchange = function setSlider() {
              s3.value = t3.value;
          };
      </script>
    </main>
  </div>
</html>
