<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"
    />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Mass Spring</title>
  </head>

  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row" style="margin: 0 auto">
        <!-- Title -->
        <span class="mdl-layout-title">
          Create your own <b>virtual creature</b> that learns via <b>differentiable physics</b>. Use arrow keys to control it.
        </span>
      </div>
    </header>
    <main class="mdl-layout__content">
      <body style="background-color: rgb(245, 245, 245)">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col" style="margin-left: 6%;">
            <div class="mdl-grid mdl-grid--no-spacing">Grid</div>
            <div class="mdl-grid mdl-grid--no-spacing">
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="grid">
                <input type="checkbox" id="grid" class="mdl-switch__input" checked="checked" autocomplete="off" />
              </label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--1-col">
            <div class="mdl-grid mdl-grid--no-spacing">Delete</div>
            <div class="mdl-grid mdl-grid--no-spacing">
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="delete">
                <input type="checkbox" id="delete" class="mdl-switch__input" autocomplete="off" />
              </label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--1-col">
            <div class="mdl-grid mdl-grid--no-spacing">Box</div>
            <div class="mdl-grid mdl-grid--no-spacing">
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="box">
                <input type="checkbox" id="box" class="mdl-switch__input" autocomplete="off" />
              </label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--2-col">
            <div class="mdl-grid mdl-grid--no-spacing">Act</div>
            <div class="mdl-grid mdl-grid--no-spacing">
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="act">
                <input type="checkbox" id="act" class="mdl-switch__input" autocomplete="off" />
              </label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--2-col">
            <button
              id="actall"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            >
              Act All
            </button>
          </div>
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--8-col">
            <canvas id="canvas" height="512" width="900" style="border:3px solid rgb(0, 0, 0); border-radius:15px;"></canvas>
          </div>
          <div class="mdl-cell mdl-cell--4-col" style="margin:0%;">
            <div class="mdl-grid mdl-grid--no-spacing" style="margin-top:1.5%;">
              <div class="mdl-card" style="width: 500px; border:3px solid rgb(0, 0, 0); border-radius:15px; margin:0%;">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Parameters</h2>
                </div>
                <div class="mdl-grid mdl-grid--no-spacing" style="margin: 5%; margin-top: 1%; margin-bottom: 1%;">
                  <div class="mdl-cell mdl-cell--2-col">Stiffness</div>
                  <div class="mdl-cell mdl-cell--8-col">
                    <p style="width: 300px">
                      <input
                        class="mdl-slider mdl-js-slider"
                        type="range"
                        autocomplete="off"
                        id="p1"
                        min="100"
                        max="50000"
                        value="30000"
                        tabindex="0"
                        step="100"
                      />
                    </p>
                  </div>
                  <div
                    class="mdl-cell mdl-cell--2-col"
                    style="padding-left: 2%"
                  >
                    <input
                      type="number"
                      autocomplete="off"
                      id="p1n"
                      value="30000"
                      step="100"
                      style="
                        box-sizing: border-box;
                        width: 100%;
                        text-align: center;
                      "
                    />
                  </div>
                </div>
                <div class="mdl-grid mdl-grid--no-spacing" style="margin: 5%; margin-top: 1%; margin-bottom: 1%;">
                    <div class="mdl-cell mdl-cell--2-col">Actuation</div>
                    <div class="mdl-cell mdl-cell--8-col">
                      <p style="width: 300px">
                        <input
                          class="mdl-slider mdl-js-slider"
                          type="range"
                          autocomplete="off"
                          id="p2"
                          min="0"
                          max="3"
                          value="0.1"
                          tabindex="0"
                          step="0.01"
                        />
                      </p>
                    </div>
                    <div
                      class="mdl-cell mdl-cell--2-col"
                      style="padding-left: 2%"
                    >
                      <input
                        type="number"
                        autocomplete="off"
                        id="p2n"
                        value="0.1"
                        step="0.01"
                        style="
                          box-sizing: border-box;
                          width: 100%;
                          text-align: center;
                        "
                      />
                    </div>
                  </div>
                  <div class="mdl-grid mdl-grid--no-spacing" style="margin: 5%; margin-top: 1%; margin-bottom: 1%;">
                    <div class="mdl-cell mdl-cell--2-col">Iteration</div>
                    <div class="mdl-cell mdl-cell--8-col">
                      <p style="width: 300px">
                        <input
                          class="mdl-slider mdl-js-slider"
                          type="range"
                          autocomplete="off"
                          id="p3"
                          min="10"
                          max="300"
                          value="100"
                          tabindex="0"
                          step="1"
                        />
                      </p>
                    </div>
                    <div
                      class="mdl-cell mdl-cell--2-col"
                      style="padding-left: 2%"
                    >
                      <input
                        type="number"
                        autocomplete="off"
                        id="p3n"
                        value="100"
                        style="
                          box-sizing: border-box;
                          width: 100%;
                          text-align: center;
                        "
                      />
                    </div>
                  </div>
                  <div class="mdl-grid mdl-grid--no-spacing" style="margin: 5%; margin-top: 1%; margin-bottom: 1%;">
                    <div class="mdl-cell mdl-cell--2-col">Rate</div>
                    <div class="mdl-cell mdl-cell--8-col">
                      <p style="width: 300px">
                        <input
                          class="mdl-slider mdl-js-slider"
                          type="range"
                          autocomplete="off"
                          id="p4"
                          min="1"
                          max="100"
                          value="25"
                          tabindex="0"
                          step="1"
                        />
                      </p>
                    </div>
                    <div
                      class="mdl-cell mdl-cell--2-col"
                      style="padding-left: 2%"
                    >
                      <input
                        type="number"
                        autocomplete="off"
                        id="p4n"
                        value="25"
                        style="
                          box-sizing: border-box;
                          width: 100%;
                          text-align: center;
                        "
                      />
                    </div>
                  </div>
              </div>
            </div>
            <div class="mdl-grid mdl-grid--no-spacing" style="margin-top: 5%;">
                <div class="mdl-card" style="width: 500px; border:3px solid rgb(0, 0, 0); border-radius:15px;">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Loss Curve</h2>
                    </div>
                    <canvas id="loss_curve"></canvas>
                </div>
            </div>
          </div>
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col">
            <button
              id="save"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            >
              Save
            </button>
          </div>
          <div class="mdl-cell mdl-cell--2-col">
            <button
              id="load"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            >
              Load
            </button>
          </div>
          <div class="mdl-cell mdl-cell--2-col">
            <button
              id="clear"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            >
              Clear
            </button>
          </div>
          <div class="mdl-cell mdl-cell--2-col">
            <button
              id="train"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            >
              Train
            </button>
          </div>
        </div>
      </body>

      <script src="/create_robot.js"></script>
      <script src="/chart.js"></script>
      <script src="/mass_spring.js"></script>
      <script src="/taichi.js"></script>
      <script>
        var train_button = document.getElementById("train");
        train_button.onclick = function () {
          var mass_spring = {};
          var canvas = document.getElementById("canvas");
          mass_spring = new MassSpring(canvas);
          mass_spring.loadScript("/compiled.js");
        };
      </script>
      <script>
        var grid_switch = document.getElementById("grid");
        var delete_switch = document.getElementById("delete");
        var box_switch = document.getElementById("box");
        var act_switch = document.getElementById("act");

        grid_switch.onclick = function() {
          is_grid = !is_grid;
        };

        delete_switch.onclick = function() {
          delete_mode = !delete_mode;
          if (delete_mode) {
            if (draw_box) {
              box_switch.click();
            }
            if (acting) {
              act_switch.click();
            }
          }
        };

        box_switch.onclick = function() {
          draw_box = !draw_box;
          if (draw_box) {
            if (delete_mode) {
              delete_switch.click();
            }
            if (acting) {
              act_switch.click();
            }
          }
        }

        act_switch.onclick = function() {
          acting = !acting;
          if (acting) {
            if (delete_mode) {
              delete_switch.click();
            }
            if (draw_box) {
              box_switch.click();
            }
          }
        }

        var actall_button = document.getElementById("actall");
        actall_button.onclick = function() {
          if (springs.length > 0 && springs[0].act == false) {
            springs.forEach(function(spring) {
              spring.act = true;
            });
          } else {
            springs.forEach(function(spring) {
              spring.act = false;
            });
          }
        };

        var save_button = document.getElementById("save");
        save_button.onclick = function() {
          let string = "";
          for (var i = 0; i < points.length; i++) {
            string += points[i].x.toString() + ",";
            string += points[i].y.toString() + ",";
            string += points[i].id.toString() + "\n";
          }
          localStorage.setItem("points", string);
          string = "";
          for (var i = 0; i < springs.length; i++) {
            string += springs[i].anchorA.toString() + ",";
            string += springs[i].anchorB.toString() + ",";
            string += springs[i].distance.toString() + ",";
            string += springs[i].act.toString() + "\n";
          }
          localStorage.setItem("springs", string)
        };

        var load_button = document.getElementById("load");
        load_button.onclick = function() {
          points = [];
          springs = [];
          let line = localStorage.points.split("\n");
          anchor = line.length-1;
          for (var i = 0; i < line.length; i++) {
            if (line[i] == "") continue;
            let token = line[i].split(",");
            points.push({"x":parseFloat(token[0]), "y":parseFloat(token[1]), "id":parseInt(token[2])});
          }
          line = localStorage.springs.split("\n");
          for (var i = 0; i < line.length; i++) {
            if (line[i] == "") continue;
            let token = line[i].split(",");
            let act;
            if (token[3] == "true") {
              act = true;
            } else {
              act = false;
            }
            springs.push({"anchorA":parseInt(token[0]), "anchorB":parseInt(token[1]), "distance":parseFloat(token[2]), "act":act})
          }
        };

        var clear_button = document.getElementById("clear");
        clear_button.onclick = function() {
          points = [];
          springs = [];
          anchor = 0;
        }
      </script>
      <script>
          var s1 = document.getElementById("p1");
          var t1 = document.getElementById("p1n");
          s1.oninput = function setText() {
              t1.value = s1.value;
          };
          t1.onchange = function setSlider() {
              s1.value = t1.value;
          };

          var s2 = document.getElementById("p2");
          var t2 = document.getElementById("p2n");
          s2.oninput = function setText() {
              t2.value = s2.value;
          };
          t2.onchange = function setSlider() {
              s2.value = t2.value;
          };

          var s3 = document.getElementById("p3");
          var t3 = document.getElementById("p3n");
          s3.oninput = function setText() {
              t3.value = s3.value;
          };
          t3.onchange = function setSlider() {
              s3.value = t3.value;
          };

          var s4 = document.getElementById("p4");
          var t4 = document.getElementById("p4n");
          s4.oninput = function setText() {
              t4.value = s4.value;
          };
          t4.onchange = function setSlider() {
              s4.value = t4.value;
          };
      </script>
    </main>
  </div>
</html>
